<%= simple_form_for @game_record, html: { :class => 'form-horizontal' }, remote: true do |f| %>
    <%= f.input :name, name: "Name", input_html: {class: "avg"}, :value => @game_record.name %>
    <%= f.input :timestampe, label: "Timestamp", input_html: {class: "avg"}, :value => @game_record.timestamp %>
    <p>&nbsp;</p>
    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
    </div>
<% end %>

<!--<%= form_for(@game_record) do |f| %>
  <% if @game_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_record.errors.count, "error") %> prohibited this game_record from being saved:</h2>

      <ul>
      <% @game_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->