<%= simple_form_for @question_score, html: { :class => 'form-horizontal' }, remote: true do |f| %>
    <%= f.input :score, label: "Score", input_html: {class: "avg"}, :value => @question_score.score %>
    <%= f.input :time, label: "Time", input_html: {class: "avg"}, :value => @question_score.time %>
    <%= f.input :landmark_id, label: "Landmark ID", input_html: {class: "avg"}, :value => @question_score.landmark_id %>
    <%= f.input :question_id, label: "Question ID", input_html: {class: "avg"}, :value => @question_score.question_id %>
    <p>&nbsp;</p>
    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
    </div>
<% end %>

<!--  
<%= form_for(@question_score) do |f| %>
  <% if @question_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_score.errors.count, "error") %> prohibited this question_score from being saved:</h2>

      <ul>
      <% @question_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :landmark_id %><br>
    <%= f.number_field :landmark_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->