<%= form_for(@question_score) do |f| %>
  <% if @question_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_score.errors.count, "error") %> prohibited this question_score from being saved:</h2>

      <ul>
      <% @question_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :landmark_id %><br>
    <%= f.number_field :landmark_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
