
  <div class="container">

    <main>
      <div class="welcome-area">
      <br><br><br><br>
        <%= image_tag 'phipps-logo.png' %>
        <h2>Environment Trivia Game</h2>
        <br>
        <h4><strong>Instructions:</strong><br>
          Select your favorite Pittsburgh landmarks and answer questions.<br>
          Learn interesting facts about the environment and try to score the most points!</h4>
        <br><br>
        <button disabled class="loading-button btn btn-default btn-lg">Loading...</button>
        <button class="start-button btn btn-success btn-lg">START</button>
      </div>

      <div class="map-area">
      <!-- <div class="map-area"> -->
        <!-- <img class="map" src="Rivers.png" width="900" height="600"> -->
        <%= image_tag 'background3.png', width: '900', height: '600', class: 'map' %>
        <button class="help-button btn btn-default btn-lg">Help</button>
        <button class="end-button btn btn-default btn-lg">End Game</button>
        <button class="highscore-button btn btn-default btn-lg">High Score</button>
      </div>

      <div class="modal fade tutorial" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content tutorial-modal-content">
            <p><%= image_tag 'tutorial.png', class: 'tutorial-image' %></p>
            <button class="btn btn-success btn-lg" data-dismiss="modal">Play!</button>
          </div><!-- end .modal-content -->
        </div><!-- end .modal-dialog -->
      </div><!-- end .modal -->

      <div class="modal fade highscore" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content highscore-modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Highscore</h4>
            </div>
            <div class="modal-body highscore-modal-body">
              ...
            </div>

          </div><!-- end .modal-content -->
        </div><!-- end .modal-dialog -->
      </div><!-- end .modal -->

      <div class="score-area">
        <p><span class="score">0</span> points</p>
      </div>

      <div class="gameover-area">
        <br><br>
        <h1>Thanks for playing!</h1>
        <h2>You got <span class="score">0</span> points</h2>
        <br><br>
        <a class="btn btn-success btn-lg" onclick="location.reload()">START OVER</a>
      </div>

      <div class="quiz-area">
        <br><br>
        <h3 class="question">Is climate change real?</h3>
        <span class="answers">
        </span>
        <span>
          <!-- <h3 class="timer">0 seconds</h3> -->
        </span>
      </div>

      <div class="blurb-area">
        <span class="result-text">
          <h1><span class="glyphicon glyphicon-ok big-checkmark"></span></h1>
          <h3>You are correct! </h3>
        </span>
        <span class="info-text">
          <h4>Lorem</h4>
        </span>
        <span class="info-pic">
          <p>

            <!-- <img class="blurb-photo" src="duq-blurb.jpg"> -->
            <%= image_tag 'duq-blurb.jpg' %>
          </p>
        </span>
        <button class="to-map btn btn-default btn-lg">Next question</button>
        <!-- <br> -->
        <!-- <p><span class="time-took"></span></p> -->
      </div>
    </main>
    
  </div>


  <!-- <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- <script src="javascripts/js/jquery.csv.min.js"></script> -->
  <!-- <script src="javascripts/main.js"></script> -->
  <!-- <%= javascript_include_tag "main.js" %> -->

